// footer starts here change to breadcrumbs later
hr
.row.large-6.column
  ul.vertical.menu.text-center(data-accordion-menu='')
    li
      a(href='/') Home
    li
      a(href='/int') International
      
    li
      a(href='/bol') Bollywood
      // footer ends here
script(src='https://code.jquery.com/jquery-2.1.4.min.js')
script(src='../public/js/foundation-6-0-0.js')
script.
  $(document).foundation();

