// footer starts here change to breadcrumbs later
hr
.row.large-6.column
  ul.horizontal.menu.text-center
    li
      a(href='/') Home
    li
      a(href='/int') International
      
    li
      a(href='/bol') Bollywood
    li
      small
        a(href='https://github.com/707/rateflix') (Made by Nadeem Shaik)
      // footer ends here
script(src='https://code.jquery.com/jquery-2.1.4.min.js')
script(src='/js/foundation-6-0-0.js')
script.
  $(document).foundation();

