doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title 
  link(rel='stylesheet', href='/css/foundation-6-0-0.min.css')
// main header
.top-bar
  .row
    .top-bar-left
      ul.dropdown.menu
        li.menu-text
          h4
            a(href='/') Rateflix
        li.menu-text
          a(href='/int') International
        li.menu-text
          a(href='/bol') Bollywood
        li.menu-text
          a(href='/int/now') Now Showing
        li.menu-text
          a(href='/int/soon') Coming Soon
    //- .top-bar-right
    //-   ul.menu
    //-     li
    //-       input(type='search', placeholder='Search')
    //-     li
    //-       button.button(type='button') Search
// main header ends here
br

