.row
    .large-3.columns
        a(href='/int/Popular')
            h4.text-center(style='margin: 0;') Popular
    .large-3.columns
        a(href='/int/Top_Rated')
            h4.text-center(style='margin: 0;') Top Rated
    .large-3.columns
        a(href='/int/Top_Grossing')
            h4.text-center(style='margin: 0;') Top Grossing
    .large-3.columns
        a(href='/int/Most_Voted')
            h4.text-center(style='margin: 0;') Most Voted
hr