include ./header.jade


// header comes here
.row.column.text-center
  h4 List type
  hr
.row
  .small-6.medium-6.large-12.columns
    .text-center
      // list item
      .small-6.medium-6.large-1.columns
        | (List #)
      .small-6.medium-6.large-6.columns
        h5 Title
        |  Rating
        p Plot
        a.button.small.hollow(href='#') View movie
      .small-6.medium-6.large-5.columns
        img.thumbnail.large-4(src='http://placehold.it/300x400')
      hr
      // list item
      // list item
      .small-6.medium-6.large-1.columns
        | (List #)
      .small-6.medium-6.large-6.columns
        h5 Title
        |  Rating
        p Plot
        a.button.small.hollow(href='#') View movie
      .small-6.medium-6.large-5.columns
        img.thumbnail.large-4(src='http://placehold.it/300x400')
      hr
      // list item
      // list item
      .small-6.medium-6.large-1.columns
        | (List #)
      .small-6.medium-6.large-6.columns
        h5 Title
        |  Rating
        p Plot
        a.button.small.hollow(href='#') View movie
      .small-6.medium-6.large-5.columns
        img.thumbnail.large-4(src='http://placehold.it/300x400')
      hr
      // list item
hr
// footer starts here!

include ./footer.jade